<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet" th:href="@{/css/teacher/teacher_mypage.css}">
    <link rel="stylesheet" th:href="@{/css/teacher/attendancelist.css}">
    <!-- 일반 alert 대신에 SweetAlert2 쓰기 -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href='https://unpkg.com/@fullcalendar/core@5.10.2/main.min.css' rel='stylesheet' />
    <link href='https://unpkg.com/@fullcalendar/daygrid@5.10.2/main.min.css' rel='stylesheet' />
    <script src='https://unpkg.com/@fullcalendar/core@5.10.2/main.min.js'></script>
    <script src='https://unpkg.com/@fullcalendar/daygrid@5.10.2/main.min.js'></script>
    <script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                dateClick: function(info) {
                    window.location.href = '/teacher/mypage/attendancedetail?date=' + info.dateStr;
                }
            });

            calendar.render();
        });
    </script>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group mt-4">
                    <li class="list-group-item">

                        <a th:href="@{/teacher/mypage}"><i class="icon icon-attendance"></i>출석현황</a>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/teacher/mypage/roleapprove}"><i class="icon icon-file-text"></i>학생승인</a>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/teacher/mypage/updateProfile}"><i class="icon icon-edit"></i>정보수정</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <h2 class="text-center my-4">출석현황</h2>
                <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
