<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/teacher/teacher_mypage.css}">
    <link rel="stylesheet" th:href="@{/css/teacher/pagescreens/attendancedetail.css}">
    <!-- 일반 alert 대신에 SweetAlert2 쓰기 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group mt-4">
                    <li class="list-group-item">

                        <a th:href="@{/teacher/mypage}"><i class="icon icon-attendance"></i>출석현황</a>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/teacher/mypage/attendancedetail}"><i class="icon icon-heart"></i>출석현황</a>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/teacher/mypage/roleapprove}"><i class="icon icon-file-text"></i>학생승인</a>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/teacher/mypage/updateProfile}"><i class="icon icon-edit"></i>정보수정</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">

                <table class="container">
                    <thead>
                    <tr>
                        <th><h1>학생이름</h1></th>
                        <th><h1>생년월일</h1></th>
                        <th><h1>성별</h1></th>
                        <th><h1>과정명</h1></th>
                        <th><h1>기수명</h1></th>
                        <th><h1>승인버튼</h1></th>
                        <th><h1>거절버튼</h1></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="member : ${memberlist}">
                        <td th:text="${member.name}"></td>
                        <td th:text="${#dates.format(member.birth, 'yyyy-MM-dd')}"></td>
                        <td th:text="${member.gender == 0 ? '남자' : '여자'}"></td>
                        <td th:text="${member.course_name}"></td>
                        <td th:text="${member.course_num}"></td>
                        <td>
                            <form th:action="@{/teacher/mypage/rolestudent}" method="post">
                                <input type="hidden" name="member_id" th:value="${member.member_id}" />
                                <button class="updaterole" type="submit">승인</button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/teacher/mypage/roleguest}" method="post">
                                <input type="hidden" name="member_id" th:value="${member.member_id}" />
                                <button class="updaterole" type="submit">거부</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
