<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet" th:href="@{/css/teacher/teacher_mypage.css}">
    <link rel="stylesheet" th:href="@{/css/teacher/pagescreens/roleapprove.css}">
    <!-- 일반 alert 대신에 SweetAlert2 쓰기 -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group mt-4">
                    <li class="list-group-item">
                        <a th:href="@{/teacher/mypage}" th:classappend="${page == 'attendanceList' ? 'active' : ''}">
                            <i class="icon icon-attendance"></i>출석현황
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/teacher/mypage/roleapprove}" th:classappend="${page == 'roleApprove' ? 'active' : ''}">
                            <i class="icon icon-file-text"></i>학생승인
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/teacher/mypage/updateProfile}" th:classappend="${page == 'updateProfile' ? 'active' : ''}">
                            <i class="icon icon-edit"></i>정보수정
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">

                <table class="container">
                    <thead>
                    <tr>
                        <th><h1>학생이름</h1></th>
                        <th><h1>생년월일</h1></th>
                        <th><h1>성별</h1></th>
                        <th><h1>과정명</h1></th>
                        <th><h1>기수명</h1></th>
                        <th><h1>승인버튼</h1></th>
                        <th><h1>거절버튼</h1></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="member : ${memberlist}">
                        <td th:text="${member.name}"></td>
                        <td th:text="${member.birth.substring(0,10)}"></td>
                        <td th:text="${member.gender == 0 ? '남자' : '여자'}"></td>
                        <td th:text="${member.course_name}"></td>
                        <td th:text="${member.course_num}"></td>
                        <td>
                            <form th:action="@{/teacher/mypage/rolestudent}" method="post">
                                <input type="hidden" name="member_id" th:value="${member.member_id}" />
                                <button class="roleapprove" type="submit">승인</button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/teacher/mypage/roleguest}" method="post">
                                <input type="hidden" name="member_id" th:value="${member.member_id}" />
                                <button class="roledeny" type="submit">거부</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>