<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/teacher_mypage/teacher_mypage.css}">
    <!-- 일반 alert 대신에 SweetAlert2 쓰기 -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group mt-4">
                    <li class="list-group-item">
                        <a th:href="@{/teacher_mypage/attendancelist}"><i class="icon icon-attendance"></i>출석현황</a>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/teacher_mypage/attendancedetail}"><i class="icon icon-heart"></i>출석현황</a>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/teacher_mypage/roleapprove}"><i class="icon icon-file-text"></i>학생승인</a>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/teacher_mypage/updateProfile}"><i class="icon icon-edit"></i>정보수정</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <h2 class="text-center my-4">정보수정</h2>
                <p>여기에 정보수정 내용을 추가하세요.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
