<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <div class="site-footer">
        <div class="inner first">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="widget">
                            <h3 class="heading">DevCampUs</h3>
                            <p></p>

                        </div>
                        <div class="widget">
                            <ul class="list-unstyled social">
                                <li><a href="https://www.instagram.com/alswl__0/"><span class="icon-instagram"></span></a></li>
                                <li><a href=https://www.instagram.com/jeenukchung/><span class="icon-dribbble"></span></a></li>
                                <li><a href="https://www.youtube.com/@ncamp_Bitcamp_Gangnam"><span class="icon-youtube"></span></a></li>
                                <li><a href="https://github.com/DevCampUs-FiveGuys"><span class="icon-github"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="widget">
                            <h3 class="heading">Executives</h3>
                            <ul class="links list-unstyled">
                                <li>대표이사 : 유상곤</li>
                                <li>개인정보 보호책임자 : 허승필</li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2 pl-lg-5">
                        <div class="widget">
                            <h3 class="heading">Pages</h3>
                            <ul class="links list-unstyled">
                                <li><a href="/review/list">Reviews</a></li>
                                <li><a href="/portfolio/list">Portfolio</a></li>
                                <li><a href="/qna">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="widget">
                            <h3 class="heading">Contact</h3>
                            <ul class="list-unstyled quick-info links">
                                <li class="email">ybt4794@naver.com</li>
                                <li class="phone">+02-3486-0070</li>
                                <li class="address"><a href="https://map.naver.com/p/search/%EB%B9%84%ED%8A%B8%EC%BA%A0%ED%94%84/place/11536039?c=15.00,0,0,0,dh&placePath=%3Fentry%253Dbmp">서울특별시 강남구 역삼동 819-3, 5층</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner dark">
            <div class="container">
                <div class="row text-center text-md-left">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <p>Copyright © 2024 DevCampUs  All rights reserved</p>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <a href="https://map.naver.com/p/search/%EB%B9%84%ED%8A%B8%EC%BA%A0%ED%94%84/place/11536039?c=15.00,0,0,0,dh&placePath=%3Fentry%253Dbmp" class="mx-2">Location</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
