<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/admin/components/nav-bar.css}">
    <link rel="stylesheet" th:href="@{/css/admin/screens/admin-profile.css}">
    <!-- 일반 alert 대신에 SweetAlert2 쓰기 -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group mt-4">
                    <li class="list-group-item">
                        <a th:href="@{/admin/mypage}" th:classappend="${page == 'Admattendancelist' ? 'active' : ''}"><i class="icon icon-attendance"></i>출석현황</a>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/admin/mypage/changerole}" th:classappend="${page == 'Admchangeroles' ? 'active' : ''}"><i class="icon icon-file-text"></i>권한변경</a>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/admin/mypage/updateprofile}" th:classappend="${page == 'UpdateProfile' ? 'active' : ''}"><i class="icon icon-edit"></i>정보수정</a>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/admin/mypage/CreateCourse}" th:classappend="${page == 'Createcourse' ? 'active' : ''}"><i class="icon icon-edit"></i>훈련 정보</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="col-md-9">
                    <div class="profile-container">
                        <h2 class="text-center">정보수정</h2>
                        <form th:action="@{/admin/mypage/update}" th:object="${member}" method="post">
                            <div class="profile-photo">
                                <label>프로필 사진</label>
                                <div>
                                    <img th:src="@{${member.photo != null ? member.photo : '/images/empty.png'}}"
                                         alt="profile-photo" width="150" height="150">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="name">이름</label>
                                    <input type="text" id="name" th:value="${member.name}" class="form-control"
                                           disabled>
                                </div>
                                <div class="col-md-6">
                                    <label for="gender">성별</label>
                                    <input type="text" id="gender" th:value="${member.gender == 0 ? '남성' : '여성'}"
                                           class="form-control" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="birth">생년월일</label>
                                <input type="text" id="birth" th:value="${member.birth.substring(0,10)}"
                                       class="form-control" disabled>
                            </div>
                            <div class="form-group">
                                <label for="email">이메일</label>
                                <input type="email" id="email" th:value="${member.email}" class="form-control" disabled>
                            </div>
                            <div class="form-group">
                                <label for="tel">전화번호</label>
                                <input type="text" id="tel" th:field="*{tel}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="created_at">가입일</label>
                                <input type="text" id="created_at"
                                       th:value="${#dates.format(member.created_at, 'yyyy-MM-dd')}" class="form-control"
                                       disabled>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="course_name">과정명</label>
                                    <input type="text" id="course_name" th:value="${member.course_name}"
                                           class="form-control" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label for="course_num">기수</label>
                                    <input type="text" id="course_num" th:value="${member.course_num}"
                                           class="form-control" disabled>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-custom-width btn-margin-top-bottom">
                                    수정
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>