.icon {
    font-family: 'icomoon';
    font-size: 18px;
    margin-right: 10px;
}
.icon-attendance:before {
    content: "\e5ca";
}
.icon-heart:before {
    content: "\e87d";
}
.icon-file-text:before {
    content: "\e873";
}
.icon-edit:before {
    content: "\e254";
}
