<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div style="padding: 50px">
        <div style="text-align: center; font-size: 30px;">
            <span>아직 <a style="color: black">Guest</a> 이시군요. &nbsp; 조금만 기다려주세요.</span>
        </div>
        <div style="text-align: center; font-size: 30px; padding-top: 10px">
            <span><a style="color: #00C300">관리자</a> 승인 후에 사용하실 수 있습니다 !</span>
        </div>
    </div>
</div>
</html>