<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/qna/qna.css}">
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/qna/list/update}" method="post" th:object="${qnadto}">
        <input type="hidden" th:field="*{qna_id}" />
    <table>
        <tr><td><h2>FAQ수정</h2></td></tr>
        <tr><td class="header">Title</td></tr>
        <tr><td><input type="text" placeholder="제목을 입력하세요" name="title" th:value="${qnadto.title}"></td></tr>
        <tr><td class="header">Comment</td></tr>
        <tr><td><textarea placeholder="내용을 입력하세요" name="content" th:text="${qnadto.content}"></textarea></td></tr>
        <tr><td><input type="submit" value="수정" onclick="alert('수정 완료!')"></td></tr>
    </table>
    </form>
</div>
</body>
</html>