<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data.mapper.MyPageMapperInter">

    <insert id="insertAttendance">
        INSERT INTO attendance (check_in, check_out, absent, vacation, hospital, late, member_id)
        VALUES (#{checkIn}, #{checkOut}, #{absent}, #{vacation}, #{hospital}, #{late}, #{memberId})
    </insert>

    <update id="updateAttendance">
        UPDATE attendance
        SET check_out = #{checkOut}, absent = #{absent}, vacation = #{vacation}, hospital = #{hospital}, late = #{late}
        WHERE attendance_id = #{attendanceId}
    </update>

    <insert id="insertVacation">
        INSERT INTO vacation (date, reason, confirm, member_id)
        VALUES (#{date}, #{reason}, #{confirm}, #{memberId})
    </insert>

    <select id="getAttendancesByMemberId" resultType="data.dto.MyPageDto">
        SELECT * FROM attendance WHERE member_id = #{memberId}
    </select>

    <select id="getVacationsByMemberId" resultType="data.dto.MyPageDto">
        SELECT * FROM vacation WHERE member_id = #{memberId}
    </select>

    <delete id="deleteAttendance">
        DELETE FROM attendance WHERE attendance_id = #{attendanceId}
    </delete>

    <delete id="deleteVacation">
        DELETE FROM vacation WHERE vacation_id = #{vacationId}
    </delete>
</mapper>
