<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data.mapper.PortfolioMapperInter">
    <insert id="insertPortfolio" parameterType="data.dto.PortfolioDto">
        INSERT INTO portfolio (member_id, title, description, file_name, readcount, created_at, updated_at)
        VALUES (#{member_id}, #{title}, #{description}, #{file_name}, #{readcount}, now(), now())
    </insert>


    <select id="portfolioData" parameterType="int" resultType="PortfolioDto">
        select * from portfolio where portfolio_id=#{portfolio_id}
    </select>

    <update id="updatePortfolio" parameterType="PortfolioDto">
        update portfolio set title=#{title},description=#{description}
    </update>

    <delete id="deletePortfolio" parameterType="int">
        delete from portfolio where portfolio_id=#{portfolio_id}
    </delete>
</mapper>