<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<div layout:fragment="content">
    <div class="untree_co-section bg-light">
        <div class="container">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-lg-6">
                    <h2 class="text-secondary heading-2">Log in</h2>
                    <p>비트캠프에 오신것을 환영합니다.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-5 bg-white p-5">
                    <form th:action="@{/api/user/login}" method="post" class="contact-form" data-aos="fade-up" data-aos-delay="200">

                        <div class="form-group">
                            <label class="text-black" for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="username">
                        </div>

                        <div class="form-group">
                            <label class="text-black" for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>

                        <div th:if="error">
                            <p id="valid" style="color: red; font-size: 12px;"><a th:text="${exception}"></a></p>
                        </div>

                        <button type="submit" class="btn btn-primary mb-4">Log in</button>

                        <div class="form-group">
                            <p><small>아직 계정이 없나요? <a th:href="@{/signup}">&nbsp;&nbsp; Sign up</a></small></p>
                        </div>
                    </form>
                </div> <!-- /.col-lg-7 -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.untree_co-section bg-light -->
</div>
</html>