<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/portfolio.css}">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script type="text/javascript">
        $(function() {
            // 처음 로딩시 댓글 목록 출력
            answer_list();

            // 댓글 추가 버튼
            $("#btnansweradd").click(function() {
                let portfolio_id = [[${dto.portfolio_id}]];
                let comment = $("#acomment").val();
                if (comment == '') {
                    alert("댓글을 입력후 등록해주세요");
                    return;
                }

                $.ajax({
                    type: 'post',
                    dataType: 'text',
                    url: "/ainsert",
                    data: {"portfolio_id": portfolio_id, "comment": comment},
                    success: function() {
                        // 댓글 목록 다시 출력
                        answer_list();
                        // 초기화
                        $("#acomment").val("");
                    }
                });
            });

            // 댓글 삭제 이벤트
            $(document).on("click", ".adel", function() {
                let reply_id = $(this).attr("reply_id");
                let a = confirm("해당 댓글을 삭제할까요?");
                if (a) {
                    $.ajax({
                        type: "get",
                        dataType: 'text',
                        data: {"reply_id": reply_id},
                        url: "./adelete",
                        success: function() {
                            // 댓글 삭제후 목록 다시 출력
                            answer_list();
                        }
                    });
                }
            });
        });

        function answer_list() {
            let portfolio_id = [[${dto.portfolio_id}]];
            let loginok = /*[[${session.loginok}]]*/ 'no';
            let loginid = /*[[${session.loginid}]]*/ '';

            $.ajax({
                type: "get",
                dataType: "json",
                data: {"portfolio_id": portfolio_id},
                url: "./alist",
                success: function(data) {
                    // 댓글 갯수 출력
                    $(".answercount").text(data.length);
                    // 목록 출력
                    let s = "";
                    $.each(data, function(idx, ele) {
                        s += `
                        ${ele.userName}(${ele.email})
                        <span class="aday">${ele.created_at}</span>
                    `;
                        // 로그인 중이면서 댓글 아이디와 로그인 아이디가 같을 경우 삭제 아이콘 추가
                        if (loginok == 'yes' && loginid == ele.myid) {
                            s += `
                            <i class="bi bi-trash adel" reply_id="${ele.reply_id}"
                            style="cursor:pointer;"></i>
                        `;
                        }

                        s += `
                        <br>
                        <pre class="adata">${ele.comment}</pre>
                        <br>
                    `;
                    });
                    $(".answerlist").html(s);
                }
            });
        }
    </script>
</head>
<div layout:fragment="content">
    <div th:with="stpath='https://kr.object.ncloudstorage.com/bitcamp-bucket-149/semiproject'">
        <h1 class="pdh1" align="center">Portfolio Detail</h1>
        <button class="animate2-button" th:onclick="|location.href='@{/portfolio/list}'|">
            <i class="fas fa-list"></i>목록
        </button>
        <div class="detailfull">
            <div th:each="dto : ${list}">
                <div class="center-content">
                    <div class="img-and-text">
                        <img class="stpathimg2" th:src="@{${stpath}+'/'+${dto.file_name}}">
                        <div class="text-content">
                            <p class="title3">제목 : <span class="title3" th:text="${dto.title}">제목:</span></p>
                            <p class="readcount2">조회수 : <span th:text="${dto.readcount}"></span></p>
                            <p class="date2">게시일 : <span th:text="${#dates.format(dto.created_at, 'yyyy.MM.dd')}"></span></p>
                        </div>
                    </div>
                </div>
                <div class="description2">
                    <div th:utext="${dto.description}"></div>
                </div>
            </div>
            <span style="float: right" th:color="gray">
            <i class="bi bi-chat-dots"></i>
            &nbsp;
            댓글 <span class="answercount">0</span>
            </span>
            <tr>
                <td>
                    <pre>
                        <span style="font-size: 20px;" th:text="${comment}"></span>
                    </pre>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="answerlist"></div>
                </td>
            </tr>
            <tr>
                <td><b>댓글</b><br>
                    <textarea style="width: 80%; height: 60px;" id="acomment"></textarea>
                    <button type="button" class="btn btn-outline-success"
                            style="height: 60px; position: relative; top: -27px;"
                            id="btnansweradd">등록</button>
                </td>
            </tr>
        </div>
    </div>
</div>
</html>