<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/portfolio.css}">
</head>
<div layout:fragment="content">
    <div th:with="stpath='https://kr.object.ncloudstorage.com/bitcamp-bucket-149/semiproject'">
        <h1 class="pdh1" align="center">Portfolio Detail</h1>
        <button class="animate2-button" th:onclick="|location.href='@{/portfolio/list}'|">
            <i class="fas fa-list"></i>목록
        </button>
        <div class="detailfull">
            <tr th:each="dto : ${list}">
                <div class="center-content">
                    <div class="img-and-text">
                        <img class="stpathimg2" th:src="@{${stpath}+'/'+${dto.file_name}}">
                        <div class="text-content">
                            <p class="title3">제목 : <span class="title3" th:text="${dto.title}">제목:</span></p>
                            <p class="readcount2">조회수 : <span th:text="${dto.readcount}"></span></p>
                            <p class="date2">게시일 : <span th:text="${#dates.format(dto.created_at, 'yyyy.MM.dd')}"></span></p>
                        </div>
                    </div>
                </div>
                <div class="description2">
                <div th:utext="${dto.description}"></div>
                </div>
            </tr>
        </div>
    </div>
</div>
</html>