<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/portfolio.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script>
        // Function to toggle favorite (like) status
        function toggleFavorite(button) {
            button.classList.toggle('active'); // Toggle active class for styling
            const icon = button.querySelector('i');
            const likeText = button.querySelector('.like-text');

            if (button.classList.contains('active')) {
                icon.classList.remove('far');
                icon.classList.add('fas'); // Change to filled heart icon
                likeText.textContent = '찜함'; // Change text to '찜함'
                // TODO: Save like state to local storage or send to server
            } else {
                icon.classList.remove('fas');
                icon.classList.add('far'); // Change to empty heart icon
                likeText.textContent = '찜'; // Change text to '찜'
                // TODO: Remove like state from local storage or send to server
            }
        }
    </script>
</head>
<div layout:fragment="content">
    <div th:with="stpath='https://kr.object.ncloudstorage.com/bitcamp-bucket-149/semiproject'">
        <h1 class="portfolio_h1">PortFolio</h1>
        <div class="filters1">
            <button class="active">전체</button>
            <button>강남센터</button>
            <button>N캠프_Devops</button>
            <button>AI WeekKlasse</button>
            <button>N캠프_AlaaS</button>
            <button>씨아카데미</button>
            <button>AWS캠프</button>
            <button class="animate-button" th:onclick="|location.href='@{/portfolio/portfolioWrite}'|">
                <i class="fas fa-pencil-alt"></i>글쓰기
            </button>
        </div>

        <div class="course1-list">
            <tr th:each="dto : ${list}">
                <div class="course1" style="border: 1px solid">
                    <img class="stpathimg" th:src="@{${stpath}+'/'+${dto.file_name}}" th:onclick="|location.href='@{/portfolio/Detail}'|">
                    <div>
                        <span class="title1" th:text="${dto.title}"></span>
                        <p class="gisu">[강남센터] [N캠프] 클라우드 기반 웹 개발자 & 데브옵스 과정_15기</p>
                    </div>
                    <div class="bo_v_info_label">
                        <span class="bo_v_label inline-block">개강일</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;
                        <span class="normal coral">2024-06-23</span>
                    </div>
                    <div class="bo_v_info_label">
                        <span class="bo_v_lavel inline-block">교육기간</span>
                        &nbsp;|&nbsp;2024-06-23 ~ 2024-09-16
                    </div>
                    <span th:text="${#dates.format(dto.created_at, 'yyyy.MM.dd')}" />
                    <button class="look" th:onclick="|location.href='@{/portfolio/Detail}'|">자세히보기 +</button>
                    <button type="button" class="favorite-button" onclick="toggleFavorite(this)">
                        <i class="far fa-heart"></i>
                    </button>
                </div>
            </tr>
        </div>
    </div>
    <div class="pfpage" style="width: 600px; text-align: center; font-size: 20px;">
        <div th:if="${startPage != null and startPage > 1}">
            <a th:href="@{/portfolio/pagingList/page(currentPage=${startPage - 1})}" style="text-decoration: none; color: black;">&lt;</a>
        </div>
        &nbsp;
        <span th:each="pp : ${#numbers.sequence(startPage != null ? startPage : 1, endPage != null ? endPage : 5)}">
            <a th:href="@{/portfolio/pagingList/page(currentPage=${pp})}" th:style="'text-decoration: none; color:' + (${currentPage} == ${pp} ? 'red' : 'black')"
               th:text="${pp}"></a>&nbsp;
        </span>
        &nbsp;
        <div th:if="${endPage != null and endPage < totalPage}">
            <a th:href="@{/portfolio/pagingList/page(currentPage=${endPage + 1})}" style="text-decoration: none; color: black;">&gt;</a>
        </div>
    </div>
</div>
</html>