<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<div layout:fragment="content">
    <!-- 제목 -->
    <div class="untree_co-section">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-6">
                    <h2 class="text-secondary heading-2" style="font-weight: bold">Reviews</h2>
                    <p style="color: black">훈련 과정에 대해 소중한 후기를 남겨주세요</p>
                </div>
            </div>
        </div>
    </div> <!-- 제목 end -->


    <div class="untree_co-section bg-light">
        <div class="container">
            <!--    top-1 : 과정명 기수 & 그래프 -->
            <div class="row justify-content-center mb-5 text-center">
                <span>과정명 / 기수 선택 영역  </span>
            </div> <!-- /.row -->
            <div class="row align-items-stretch">
                <div class="col-md-6 col-lg-4">
                    <div class="untree_co-testimonial h-100">
                        <span class="quote">평점</span>
                        <blockquote>
                            <p>점수 그래프 들어갈 공간</p>
                        </blockquote>
                    </div> <!-- /.untree_co-testimonial -->
                </div> <!-- /.col-lg-4 -->
                <div class="col-md-6 col-lg-4">
                    <div class="untree_co-testimonial h-100">
                        <span class="quote">점수별비율</span>
                        <blockquote>
                            <p>비율 들어갈 공간 ~</p>
                        </blockquote>
                    </div> <!-- /.untree_co-testimonial -->
                </div> <!-- /.col-lg-4 -->
                <div class="col-md-6 col-lg-4">
                    <div class="untree_co-testimonial h-100">
                        <span class="quote">성별 비율</span>
                        <blockquote>
                            <p>비율 그래프 들어갈 공간 !</p>
                        </blockquote>
                    </div> <!-- /.untree_co-testimonial -->
                </div> <!-- /.col-lg-4 -->
            </div> <!-- /.row -->

            <!--    top-2 : 후기 입력란 -->
            <div class="untree_co-section">
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-lg-6 mb-5">
                        <div>
                            <h2 class="text-secondary heading">별점을 선택해주세요</h2>
                            <div>
                                <p>별점 선택 영역</p>
                            </div>
<!--                            <input type="text" required="required" placeholder="후기 입력">-->
<!--                            <button type="submit" >등록</button>-->
                            <table class="form-group">
                                <tr>
                                    <input type="text" style="width: 500px; height: 100px" id="review-typing" required="required">
                                </tr>
                                <tr>
                                    <button type="submit" class="btn btn-primary mb-4">등록</button>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</html>