<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/review.css}">
</head>

<div layout:fragment="content">
    <!-- 제목 -->
    <div class="untree_co-section">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-6">
                    <h2 class="text-secondary heading-2" style="font-weight: bold">Reviews</h2>
                    <p style="color: black">훈련 과정에 대해 소중한 후기를 남겨주세요</p>
                </div>
            </div>
        </div>
    </div> <!-- 제목 end -->
    <div class="untree_co-section bg-light" style="border-bottom: 1px solid gray">
        <div class="container">
            <!--  과정명, 기수 검색 -->
            <div class="row justify-content-center mb-5 text-center">
                <div class="col-lg-6">
                    <p>과정명과 기수를 선택하여 후기를 볼 수 있어요!</p>
                    <div>
                        <select id="courseName" onchange="loadCourseNums()"
                                style="width: 250px;height: 25px;margin-right: 20px; border-radius: 20px;">
                            <option value="">과정명을 선택하세요</option>
                            <!-- Thymeleaf를 이용해 서버에서 받은 과정명 옵션을 반복 -->
                            <option th:each="courselist : ${courselist}" th:value="${courselist.name}"
                                    th:text="${courselist.name}"></option>
                        </select>
                        <select id="courseNum"
                                style="width: 150px; height: 25px; border-radius: 20px; margin-right: 20px">
                            <option value="">기수를 선택해주세요</option>
                        </select>
                        <button type="button" onclick="search()" class="search-btn">조회하기</button>
                        <!-- 과정명 선택 script 시작 -->

                        <script type="text/javascript">
                            function loadCourseNums() {
                                let selectedCourseName = $("#courseName").val();

                                $.ajax({
                                    type: "GET",

                                    url: "/review/names",
                                    data: {name: selectedCourseName},
                                    dataType: "json",
                                    success: function (ele) {
                                        console.log(ele);

                                        let courseNumSelect = $("#courseNum");
                                        courseNumSelect.empty();
                                        courseNumSelect.append('<option value="">기수를 선택해주세요</option>');
                                        $.each(ele, function (index, item) {
                                            courseNumSelect.append('<option value="' + item + '">' + item + '</option>');
                                        });
                                    },
                                    error: function (e) {
                                        console.error("Error fetching course numbers: ", e);
                                    }
                                });
                            }

                            function search() {
                                let courseName = $("#courseName").val();
                                let courseNum = $("#courseNum").val();
                                console.log(courseName, courseNum);

                                $.ajax({
                                    type: "GET",
                                    url: "/review/nums",
                                    data: {name: courseName, num: courseNum},
                                    dataType: "json",
                                    success: function (response) {
                                        let reviewListDiv = $("#reviewList");
                                        console.log(response);
                                        reviewListDiv.empty(); // Clear the existing reviews

                                        if (response.length > 0) {
                                            response.forEach(function (item) {
                                                let reviewHTML = `
                        <div class="reviews">
                        <div class="reviews-box">
                            <div class="reviews-box-1">
                                <div class="reviews-box-2">
                                    <div class="review-name">${item.name}</div>
                                    <fieldset class="rate2">
                                        ${generateStars(item.star)}
                                    </fieldset>
                                    <div class="review-gender" th:text="${item.gender === 0 ? '남자' : '여자'}"></div>
                                </div>
                                <div style="margin-top: 7px">
                            <div class="icon-heart" id="reviewID-${item.review_id}" onclick="updateLike(${item.review_id})" th:value="${item.review_id}">
                                <span style="color: #999999">좋아요 :</span>
                                <span id="likeCount" style="color: #999999">${item.like}</span>
                                </div>
                        </div>
                            </div>
                            <div class="review-content">${item.content}</div>
                            <div class="reviews-box-3">
                                <div class="review-writetime">${formatDate(item.created_at)}</div>
                                <a href="/review/delete?review_id=${item.review_id}">
                                    <i class="icon-delete"></i>
                                </a>
                            </div>
                        </div>
                        </div>
`;
                                                reviewListDiv.append(reviewHTML);
                                            });
                                        } else {
                                            reviewListDiv.append("<p class='non-list'>등록된 후기가 없습니다.</p>");
                                        }
                                    },
                                    error: function (xhr, status, error) {
                                        console.error('Ajax Error : ', status, error);
                                        alert('후기 목록을 불러오는 중 오류가 발생했습니다.');
                                    }
                                });
                            }

                            function generateStars(starRating) {
                                let starsHTML = "";
                                const totalStar = 5;
                                const starVal = totalStar - starRating;


                                for (let i = 1; i <= totalStar; i++) {
                                    const starVal = totalStar - i + 1;

                                    if (starVal <= starRating) {
                                        starsHTML += `<input type="radio" value="${starVal}" checked><label title="${starVal}점"></label>`
                                    } else if (starVal - 0.5 === starRating) {
                                        starsHTML += `<input type="radio" value="${starVal}"><label title="${starVal}점"></label>`;
                                        starsHTML += `<input type="radio" value="${starVal}.5" checked><label class="half" title="${starVal - 0.5}점"></label>`;
                                    } else {
                                        // 그 외의 경우 비어 있는 별을 추가하여 표시
                                        starsHTML += `<input type="radio" value="${starVal}"><label title="${starVal}점"></label>`;
                                    }
                                }
                                return starsHTML;
                            }

                            function formatDate(dateString) {
                                let date = new Date(dateString);
                                return date.getFullYear() + '-' + (date.getMonth() + 1).toString().padStart(2, '0') + '-' + date.getDate().toString().padStart(2, '0');
                            }
                        </script>
                    </div>
                </div>
            </div>

            <!--   평점 &  비율 & 성별     -->
            <div class="row align-items-stretch">
                <div class="col-md-6 col-lg-4">
                    <div class="untree_co-testimonial h-100" style="text-align: center">
                        <div class="averageRating">
                            <h5 class="rating-avg-title">수강생 평점</h5>
                            <h2 class="rating-avg"><span th:text="${reviewAvg}"
                                                         style="color: black; font-weight:bold"></span>/ 5.0</h2>
                            <fieldset class="rate3">
                                <input type="radio" value="5.0" th:checked="${reviewAvg <= 5.0 && reviewAvg > 4.5}">
                                <label title="5점"></label>
                                <input type="radio" value="4.5" th:checked="${reviewAvg <= 4.5 && reviewAvg > 4.0}">
                                <label class="half" title="4.5점"></label>
                                <input type="radio" value="4.0" th:checked="${reviewAvg <= 4.0 && reviewAvg > 3.5}">
                                <label title="4점"></label>
                                <input type="radio" value="3.5" th:checked="${reviewAvg <= 3.5 && reviewAvg > 3.0}">
                                <label class="half" title="3.5점"></label>
                                <input type="radio" value="3.0" th:checked="${reviewAvg <= 3.0 && reviewAvg > 2.5}">
                                <label title="3점"></label>
                                <input type="radio" value="2.5" th:checked="${reviewAvg <= 2.5 && reviewAvg > 2.0}">
                                <label class="half" title="2.5점"></label>
                                <input type="radio" value="2.0" th:checked="${reviewAvg <= 2.0 && reviewAvg > 1.5}">
                                <label title="2점"></label>
                                <input type="radio" value="1.5" th:checked="${reviewAvg <= 1.5 && reviewAvg > 1.0}">
                                <label class="half" title="1.5점"></label>
                                <input type="radio" value="1.0" th:checked="${reviewAvg <= 1.0 && reviewAvg > 0.5}">
                                <label title="1점"></label>
                                <input type="radio" value="0.5" th:checked="${reviewAvg <= 0.5}">
                                <label class="half" title="0.5점"></label>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="untree_co-testimonial h-100" style="text-align: center">
                        <div>
                            <h5 class="rating-percentage-title">점수별비율</h5>
                            <div class="rating-percentage" th:each="range : ${starRangePercentageMap}">
                                <i class="icon-star" style="color: lightgray"></i>
                                <span th:text="${range.key}" style="display: block; margin-right: 10px"></span>
                                <div class="area_bar_outer">
                                    <div class="area_bar_in"
                                         th:style="'width:' + ${range.value} + '%; height : 100%;'"></div>
                                </div>
                                <span th:text="${range.value} + '%'" style="margin-left: 10px"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="untree_co-testimonial h-100" style="text-align: center">
                        <h5 class="rating-percentage-title">성별 비율</h5>
                        <canvas id="canvas1"></canvas>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center text-center" sec:authorize="hasAnyRole('ROLE_TEACHER', 'ROLE_ADMIN', 'ROLE_STUDENT')">
                <div class="col-lg-6">
                    <h6 class="choose-rate-title">별점을 선택해주세요!</h6>
                    <div class="choose-rate-box">
                        <!-- 별점을 표시할 영역 -->
                        <fieldset class="rate" onchange="updateStarValue()">
                            <input type="radio" id="rating10" name="rating" value="5.0"><label for="rating10"
                                                                                               title="5점"></label>
                            <input type="radio" id="rating9" name="rating" value="4.5"><label class="half" for="rating9"
                                                                                              title="4.5점"></label>
                            <input type="radio" id="rating8" name="rating" value="4.0"><label for="rating8"
                                                                                              title="4점"></label>
                            <input type="radio" id="rating7" name="rating" value="3.5"><label class="half" for="rating7"
                                                                                              title="3.5점"></label>
                            <input type="radio" id="rating6" name="rating" value="3.0"><label for="rating6"
                                                                                              title="3점"></label>
                            <input type="radio" id="rating5" name="rating" value="2.5"><label class="half" for="rating5"
                                                                                              title="2.5점"></label>
                            <input type="radio" id="rating4" name="rating" value="2.0"><label for="rating4"
                                                                                              title="2점"></label>
                            <input type="radio" id="rating3" name="rating" value="1.5"><label class="half" for="rating3"
                                                                                              title="1.5점"></label>
                            <input type="radio" id="rating2" name="rating" value="1.0"><label for="rating2"
                                                                                              title="1점"></label>
                            <input type="radio" id="rating1" name="rating" value="0.5"><label class="half" for="rating1"
                                                                                              title="0.5점"></label>
                        </fieldset>
                    </div>
                    <!-- 리뷰 입력-->
                    <form th:action="@{/review/insert}" method="post" th:object="${reviewDto}">
                        <div style="display: flex">
                            <input type="text" class="form-control" th:field="*{content}" required="required"
                                   placeholder="후기 입력" style="float:left; width: 80%;">
                            <input type="hidden" id="star" name="star" th:field="*{star}">
                            <button type="submit" class="btn btn-primary" style="margin: auto; font-weight: bold">등록
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--    입력된 후기 목록 -->
    <div id="reviewList">
        <div th:fragment="reviewListFrgment">
            <div class="reviews" th:each="reviewlist : ${reviewlist}">
                <div class="reviews-box">
                    <div class="reviews-box-1">
                        <div class="reviews-box-2">
                            <div class="review-name" th:text="${reviewlist.name}"></div>
                            <fieldset class="rate2">
                                <input type="radio" value="5.0" th:checked="${reviewlist.star == 5.0}">
                                <label title="5점"></label>
                                <input type="radio" value="4.5" th:checked="${reviewlist.star == 4.5}">
                                <label class="half" title="4.5점"></label>
                                <input type="radio" value="4.0" th:checked="${reviewlist.star == 4.0}">
                                <label title="4점"></label>
                                <input type="radio" value="3.5" th:checked="${reviewlist.star == 3.5}">
                                <label class="half" title="3.5점"></label>
                                <input type="radio" value="3.0" th:checked="${reviewlist.star == 3.0}">
                                <label title="3점"></label>
                                <input type="radio" value="2.5" th:checked="${reviewlist.star == 2.5}">
                                <label class="half" title="2.5점"></label>
                                <input type="radio" value="2.0" th:checked="${reviewlist.star == 2.0}">
                                <label title="2점"></label>
                                <input type="radio" value="1.5" th:checked="${reviewlist.star == 1.5}">
                                <label class="half" title="1.5점"></label>
                                <input type="radio" value="1.0" th:checked="${reviewlist.star == 1.0}">
                                <label title="1점"></label>
                                <input type="radio" value="0.5" th:checked="${reviewlist.star == 0.5}">
                                <label class="half" title="0.5점"></label>
                            </fieldset>
                            <div class="review-gender" style="padding-bottom: 10px"
                                 th:text="${reviewlist.gender == 0 ? '남자' : '여자'}"></div>
                        </div>
                        <div style="padding-top:  7px">
                            <div class="icon-heart" th:id="'reviewID-'+${reviewlist.review_id}"
                                 th:onclick="'updateLike(' + ${reviewlist.review_id} + ')'"
                                 th:value="${reviewlist.review_id}">
                                <span style="color: #999999">좋아요 : </span>
                                <span id="likeCount" style="color: #999999" th:text="${reviewlist.like}"></span>
                            </div>
                        </div>

                    </div>
                    <div class="review-content" th:text="${reviewlist.content}"></div>
                    <div class="reviews-box-3">
                        <div class="review-writetime"
                             th:text="${#dates.format(reviewlist.created_at, 'yyyy-MM-dd')}"></div>
                        <a th:href="@{/review/delete(review_id=${reviewlist.review_id})}">
                            <i class="icon-delete"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
        // 평점 반영 함수
        function updateStarValue() {
            let selectedRating = document.querySelector('input[name="rating"]:checked').value;
            if (selectedRating) {
                document.getElementById('star').value = selectedRating;
            }
        }

        // Doughnut Chart
        $(function () {
            let malePercentage = [[${malePercentage}]];
            let femalePercentage = [[${femalePercentage}]];

            let options = {
                // legend: false,
                responsive: false
            };
            new Chart("canvas1", {
                type: 'doughnut',
                tooltipFillColor: "rgba(51, 51, 51, 0.55)",
                data: {
                    datasets: [{
                        data: [malePercentage, femalePercentage],
                        backgroundColor: [
                            "#72B8FA",
                            "#F383B0"
                        ],
                        hoverBackgroundColor: [
                            "#72B8FA",
                            "#F383B0"
                        ]
                    }],
                    labels: [
                        "남성",
                        "여성"
                    ]
                },
            });
        });

        // 후기 좋아요 버튼
        function updateLike(review_id) {
            $.ajax({
                type: "POST",
                url: "/review/like",
                data: {"reviewid": review_id},
                dataType: "json",
                success: function (response) {
                    // review_id.empty();
                    if (response.success) {
                        document.location.reload();
                    } else {
                        document.location.reload();
                    }
                },
                error: function () {
                    alert("좋아요를 눌렀습니다! 기존 목록으로 돌아갑니다.");
                    document.location.reload();
                }
            });
        }
    </script>
</div> <!-- layout:fragment = content-->


</html>